<h2><%= @plane.name %></h2>
<p><%= @plane.seats  %></p>
<p><%= @plane.speed %></p>
<p><%= @plane.location %></p>
<p><%= @plane.category %></p>
<p>Created by <%= @plane.user.email %></p>
<p>At <%= @plane.created_at %></p>
