<div class="row">
<% if @plane.photo.key? %>
    <div class="p-5 mb-4 show-banner" style="background-image: linear-gradient(rgb(139 139 139 / 40%),rgb(0 0 0 / 40%)), url('<%= cl_image_path @plane.photo.key %>');">
  <% else %>
  <div class="p-5 mb-4 show-banner" style="background-image: linear-gradient(rgb(139 139 139 / 40%),rgb(0 0 0 / 40%)), url(https://images.dassault-aviation.com/w_2000,f_auto,q_auto,g_center,dpr_auto,c_fill/wp-auto-upload/1/files/2021/06/DA00026229_S-1.jpg);">
  <% end %>
    <div class="container-fluid py-5">
      <h1 class="display-5"><%= @plane.name %></h1>
      <% if current_user != @plane.user %>
        <%= link_to "Book this plane !", new_plane_booking_path(@plane.id), class: "btn btn-primary btn-lg first" %>
      <% end %>
    </div>
  </div>
  <div class="row align-items-md-stretch mb-3 mt-4">
    <div class="col-md-6">
      <div class="ps-5 text-bg rounded-3">
        <h2>Some features</h2>
        <p><i class="fa-solid fa-location-dot"></i> <%= @plane.address %></p>
        <p><i class="fas fa-couch"></i> <%= @plane.seats %> seats</p>
        <p><i class="fas fa-tachometer-alt"></i> <%= @plane.speed %> km/h</p>
        <p><i class="fas fa-plane"></i> Cat. <%= @plane.category %></p>
        <p><i class="fa-solid fa-euro-sign"></i>  <%= @plane.price %> per day</p>
        <p><i class="fa-solid fa-user"></i>  <%= @plane.user.name %></p>
        <%= link_to "Book this plane !", new_plane_booking_path(@plane.id), class: "btn btn-outline-light" %>
      </div>
      <% if policy(@plane).edit? %>
        <%= link_to "Edit this plane", edit_plane_path(@plane), class: "btn btn-outline-secondary second" %> |
      <% end %>
      <% if policy(@plane).destroy? %>
        <%= link_to "Delete this plane", plane_path, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "btn btn-outline-secondary second" %>
      <% end %>
    </div>
    <div class="col-md-6">
      <div class="p-5 bg-light border rounded-3">
        <p><%= @plane.description %></p>
      </div>
    </div>
  </div>
  <div class="col-12 m-4 ps-5">
    <% @plane.reviews.each do |review| %>
      <%= review.content %>
      <%= review.user.name %>
    <% end %>
  </div>
    <div class="col-12 mt-4">
    <div class="map-planes mt-4 ms-5 me-5">
      <div style="width: 100%; height: 100%;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
</div>
