<div class="row">
  <div class="container mt-4 mb-4 justify-content-center">
    <div class="row justify-content-center">
      <div class="col-6">
        <h1 class="text-center">Book now <%= @plane.name %> !</h1>
          <div data-controller="dynamic-booking-price" data-dynamic-booking-price-price-value="<%= @plane.price %>">
            <%= simple_form_for [@plane, @booking], html: {
                      data: {
                        controller: 'flatpickr'
                      }
                    } do |f| %>
              <%= f.error_notification %>
              <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
              <div class="form-inputs">
                <%= f.input :start_date, html5: true,
                input_html: {
                data: {
                flatpickr_target: 'startDateInput', dynamic_booking_price_target: 'startDateInput', action: 'change->dynamic-booking-price#updatePrice'
                } } %>
                <%= f.input :end_date, html5: true,
                input_html: {
                data: {
                flatpickr_target: 'endDateInput', dynamic_booking_price_target: 'endDateInput', action: 'change->dynamic-booking-price#updatePrice'
                } } %>
              </div>
              <div class="form-actions btn btn-primary btn-lg">
                <%= f.button :submit %>
              </div>
            <% end %>
            <p class="lead text-center">
              Total price: 
                <span data-dynamic-booking-price-target="priceHolder">
                  <%= @plane.price %>
                </span> $
            </p>
            <p class="text-center">
            <%= link_to "See this plane", plane_path(@plane) %>
            </p>
          </div>
      </div>
    </div>
  </div>
</div>
