<div class="banner">
   <h1>Rent a plane</h1>
        <p class="lead">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        <p>
          <%= link_to "All planes", planes_path, class: "btn btn-primary my-2 first" %>
          <%= link_to "Rent your plane", new_plane_path, class: "btn btn-outline-secondary my-2 second" %>
        </p>
</div>
<main class="container mt-4">
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% @planes[0..2].each do |plane| %>
        <div class="col">
          <div class="card shadow-sm">
            <% if plane.photo.key? %>
              <%= cl_image_tag plane.photo.key, class: "card-img-top", height: 180 %>
            <% else %>
              <%= image_tag "https://images.dassault-aviation.com/w_2000,f_auto,q_auto,g_center,dpr_auto,c_fill/wp-auto-upload/1/files/2021/06/DA00026229_S-1.jpg", class: "card-img-top", height: 180 %>
            <% end %>
            <div class="card-body">
              <p class="card-text"><%= plane.name %></p>
              <p class="card-text"><%= plane.description.truncate_words(22) %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to "View", plane_path(plane), class:"btn btn-sm btn-outline-secondary" %>
                  <%= link_to "Book", new_plane_booking_path(plane.id), class: "btn btn-sm btn-outline-secondary" %>
                </div>
                <small class="text-muted">Owner : <%= plane.user.name %></small>
              </div>
            </div>
          </div>
        </div>
        <% end %>

      </div>
    </div>
  </div>

</main>
